@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* Generales */

:root {
  --bs-danger: #de3a3a;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

main {
  padding-top: 61.83px;
}

.fuenteOswald {
  font-family: "Oswald", sans-serif;
}

.tituloFooter {
  font-family: "Oswald", sans-serif;
  font-size: 1.75rem;
  color: #000;
}

.textoFooter {
  color: rgb(211, 211, 211);
}

.imagenFooter {
  width: 50%;
  height: auto;
}

/* Principal */

.div-headerIndex {
  position: relative;
}

.div-imagenHeaderIndex {
  height: 35vh;
}

.imagenHeaderIndex {
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.div-tituloHeader {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-right: 10%;
  margin-left: 10%;
  text-align: center;
}

.tituloHeader {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px #000;
}

.subtituloHeader {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.849);
  font-weight: 500;
}

.imgCardsLaterales{
    height: 10vh;
    width: 100%;
    object-fit: contain;
}

.queryBusqueda{
    display: none;
}

.div-imgCardIndex{
  width: 100%;
  height: 20vh;
}

.imgCardIndex{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Busqueda */

.txtInicioBreadcrumb{
    text-decoration: underline;
    color: rgb(56, 56, 56);
 

}
.mainBusqueda{
  padding-bottom: 154px;
}

.footerBusqueda{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}



/* Admin */

.colorbg {
  background: rgb(33, 47, 61);
  padding: 3%;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* Acerca de */

.div-imgPerfil {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.imgPerfil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.posImgTop {
  object-position: top;
}

.opacity:hover {
  position: relative;
  bottom: 3px;
  right: 3px;
  filter: opacity(50%);
  transition: 1s;
}

/* 404 */

.img404vertical {
  display: none;
}

.img404horizontal{
    display: block;
    height: 86%;
    width: 71%;
}
.divPegado{
    margin-top: -5%;
}
 
/* Media queries */

@media screen and (max-width: 992px) {
  /* Generales */

  .imagenFooter {
    width: 25%;
    height: auto;
    margin-bottom: 15px;
  }

  /* Principal */
  .queryAside {
    display: none;
  }

  .queryBusqueda {
    display: block;
  }

    .div-imgCardIndex{
      height: 25vh;
    }
    
    /* Agregar seccion si se necesita */

  /* Admin */

  .colorbg{
    padding: 5%;
    border-radius: 5px;
  }

    .img404horizontal{
        display: none;
    }
    .divPegado{
        margin-top: 0%;
    }
}
